*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-decoration: none;
}
a{
    color: black;
}

.topBodyVideoSection{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 90%;
    margin: 0 auto;
}
.topLeftVideoContainer{
    padding: 20px;
}
.videoContainer{
    margin: 20px 0px;
    border-bottom: .5px solid silver;
    border-left: .5px solid silver;
    padding: 10px;
    position: relative;
}
.videoContainer small{
    color: red;
    font-style: italic;
}
.videoContainer small h3{
    font-weight: bold;
}
.videoCircle{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: 0;
}
.videoCenterCardContainer{
    background: silver;
}
.videoCenterContainer h1{
    font-weight: bold;
    padding: 20px;
}
.videoCenterHeadingImgContainer{
    height: 400px;
    overflow: hidden;
}


.videoRightContainer{
    padding: 20px;
}

.videoCardContainer{
    display: grid;
    grid-template-columns:80% 20%;
    margin: 20px 0px;
    border-bottom: 1px solid silver;
    padding: 10px 0px;
}
.videoText a h3{
    font-weight: bold;
}

.videoText small{
    color: red;
}
.videoImg{
    width: 100px;
    height: 100px;
    overflow: hidden;
}


.videoSection{
    min-height: 200px;
    margin: 20px 30px;
}

.TopMainVideoContainer{
    background: silver;
    padding: 50px;
}

.mainVideoContainer{  
    padding: 50px 20px 20px 20px;
    
}
.mainVideoCircle{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: 0;
}
.mainVideoCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    padding: 10px;
    background: white;
}
.mainVideoText {
    padding: 10px;
}
.mainVideoText h4{
    font-size: 25px;
}
.mainVideoText p{
    font-size: 15px;
}
.mainVideoText small{
    color: red;
}

.mainVideoImg{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 20px;

}
.mainVideoNextSection{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: space-around;
    padding: 10px;
}

.mnvvLeft{
    padding: 10px;
    background: gray;
    border-radius: 50%;
}

.mnvvNum{
    padding: 10px;
    background: gray;
    border-radius: 50px;
    
}
.mnvvNum h5{
    font-stretch: 20px;
}

.mnvvRight{
    padding: 10px;
    background: gray;
    border-radius: 50%;
}